/*RESET*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

/*FUENTES*/
@font-face {
    font-family: "Typeecon";
    src: url(../fonts/typeecon.otf);
}

/*COLORES FUENTES*/
.font-white{
	color: #FFF;
}

.font-celeste{
	color: #0086A5;
}

.font-grey{
	color: #3F3F3F;
}

/*ICONOS TYPEECON*/
.icon-type{
	font-family: 'Typeecon';
	color: #FFF;
}

/*FONDOS*/
.background-azul{
	background: linear-gradient(to left, #12687B 25%, #07A8BE 75%);
}
.background-celeste{
	background: linear-gradient(to right, #0F5C72 22%, #10839E 78%);
}
.background-blanco{
	background: linear-gradient(to right,  #CFCFCF, #FFF 15%, #FFF 70%, #CFCFCF);
}

/*FONDO BODY*/
body{
	max-width: 100%;
	background-image: url(../img/background.jpg);
	background-color: #FFF;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*GENERAL*/
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

h1{
	font-size: 1.5em;
	font-weight: bold;
}

p, span{
	font-size: 0.9em;
	font-weight: lighter;
}

li{
	font-weight: normal;
	font-size: 0.9em;
}

/*NAV*/
nav{
	display: block;
	background-color: rgb(0, 0, 0, 0);
	min-width: 100%;
	position: fixed;
	z-index: 999;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

.menuBar/*ocultar menú hamburguesa*/{
	display: none;
}

.navbar{
	max-width: 80%;
	width: 80%;
	padding: 2.5%;
	text-align: center;
	margin: 0 auto;
}

.navbar > li{
	display: inline;
	margin: 0 2.5%;
}
.navbar > li > a:link, .navbar > li > a:visited{
	color: #FFF;
	text-decoration: none;
}
.navbar > li > a:hover{
	color: #09C;
	text-decoration: none;
}
.navbar > li > a:active{
	color: #FFF;
	text-decoration: none;
}

header > div/*Para que al cargar, no se vea como va subiendo por toda la página la animación*/{
	position: relative;
	z-index: 1;
}

section/*Para que al cargar, no se vea como va subiendo por toda la página la animación*/{
	position: relative;
	z-index: 999;
}

#logo/*Logo*/{
	display: block;
	margin: 0 auto;
	padding: 15% 0 5% 0;
}

.home/*Contacto bajo logo*/{
	margin: 5% auto;
	text-align: center;
	font-variant: small-caps;
}

.home > p{
	display: inline;
}

.home > p:first-child{
	display: block;
	margin: 2.5% auto;
	font-size: 1.1em;
}

.icon-type/*Separación íconos de texto*/{
	margin: .5% 1% .5% 3%;
}

.home:nth-child(3)/*Aseguradoras asociadas -imágenes abajo del contacto-*/{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 4%;
}

.asociados/*Aseguradoras asociadas -imágenes abajo del contacto-*/{
	margin: 0 2.5%;
	text-align: center;
}

#grua{
	display: block;
	text-align: center;
	font-variant: small-caps;
	margin-bottom: 5%;
}

#grua > img{
	width: 50px;
	margin-right: .5%;
}

/*IDENTIDAD*/
.identidad{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	z-index: 2;
	margin: 0;
}

/*Quiénes somos*/
.weAre{
	max-width: 50%;
	vertical-align: middle;
	padding: 0;
}

.weAre > img{
	display: block;
	width: 12%;
	margin-bottom: 8%;
	padding: 20% 0 0 12%;
}

.weAre > h1{
	margin-bottom: 5%;
	padding: 0 0 0 12%;
}

.weAre > p{
	margin-bottom: 5%;
	padding: 0 12% 0 12.5%;
	text-align: left;
}

.container-imgs{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	padding-bottom:  30%;
}

.container-imgs > img{
	width: 30%;
	height: 30%;
}

/*Maps*/
.ubication{
	max-width: 50%;
	flex: 1;
	vertical-align: middle;
	padding: 0;
}

.ubication > img{
	display: block;
	width: 12%;
	margin-bottom: 8%;
	padding: 20% 0 0 7%;
}

.map{
	width: 40vw;
	height: 50%;
	margin: 0 0 20% 7%;
	border: none;
	box-shadow: 10px 10px 10px rgba(0,0,0,.3);
}

/*PRODUCTOS*/
.barra/*Barra celeste que está al principio tanto en productos como en faq*/{
	width: 100%;
	height: 20vh;
	background: linear-gradient(to right,  #0F5C72, #10839E 15%, #10839E 70%, #0F5C72);
}

.productos{
	max-width: 100%;
	display: block;
	text-align: center;
	padding-bottom: 10%;
	padding-top: 5%;
	z-index: 2;
}

.productos > img /*logo-productos*/{
	display: block;
	width: 6%;
	margin: 0 auto;
	margin-bottom: 2%;
}

.productos > h1, .productos > div {
	margin-bottom: 7.5%;
	max-width: 40%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.productos p{
	color: #3F3F3F;
	margin-top: 3.5%;
}

.img-shadow > img /*imagenes de los productos/*/{
	max-width: 60%;
	max-height: 20vh;

}

.img-shadow/*sombra debajo de las imágenes*/{
	margin: 0 auto;
	width: 80%;
	-webkit-box-shadow: 0 25px 10px -10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 25px 10px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 25px 10px -10px rgba(0, 0, 0, 0.2);
}

.productos > div  > h2 /*para que el subtitulo tenga un espacio y no se superponga a la sombra*/{
	margin-top: 35px;
}

/*PREGUNTAS FRECUENTES*/
.faq{
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 5%;
	z-index: 2;
	align-items: flex-end;
}

.title-faq{
	min-width: 100%;
	text-align: center;
	margin-bottom: 7.5%;
}

.title-faq > img{
	display: block;
	width: 6%;
	margin: 0 auto;
	margin-bottom: 2%;
}

.content-faq{
	max-width: 50%;
	margin-bottom: 5%;
}

.content-faq > div{
	padding-left: 12%;
	padding-right: 4%;
}

.content-faq > div > h3{
	margin: 5% auto 2% auto;
}

.content-faq > div > p {
	margin-top: 2%;
	margin-bottom: 5%;
}

/*Para las listas dentro del FAQ*/
.item-list{
	max-width: 90%;
	padding: 0;
	margin: 0 auto;
	list-style: none;
	line-height: 1;
}

.item-list > li{
	padding: 0;
	margin-bottom: 2%;
}

.icon-list/*Icono viñeta*/{	
	font-size: 1.2em;
	vertical-align: middle;
}

.img-faq{
	max-width: 50%;
	min-height: 50%;
	margin: 0;
	padding: 0;
}

.img-faq > img{
	max-width: 90%;
	height: auto;
}

/*FOOTER*/
footer {
	display: grid;
	grid-template-areas: "headimg headimg head head"
						 "redes aseguradoras phones autor";
	grid-template-columns: 25% 22.5% 22.5% 25%;
	grid-column-gap: 2.5%;
	row-gap: 10ch;
	padding: 5%;
}

#contacto > img{
	width: 50%;
	max-width: 50%;
	min-width: 50%;
	grid-area: headimg;
	align-self: center;
	justify-self: end;
}

#horario{
	grid-area: head;
	font-weight: bold;
	align-self: center;
	justify-self: start;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

#horario > p{
	margin-bottom: .3%;
}

#redes-foot{
	grid-area: redes;
	align-self: center;
	justify-self: start;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

footer .icon-type{
	margin-right: 2%;
}

#aseguradoras{
	grid-area: aseguradoras;
	align-self: center;
	justify-self: end;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	text-align: right;
}

#phones{
	width: 100%;
	grid-area: phones;
	align-self: center;
	justify-self: start;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

#author{
	grid-area: autor;
	align-self: center;
	justify-self: end;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	text-align: right;
}


/*TABLET LANDSCAPE*/@media screen and (max-width: 1024px){
	/*NAV*/
	.menuBar/*Hacer que aparezca barra con menú hamburguesa*/{
		display: block;
		min-width: 100%;
		background: rgba(4, 132, 159, 0.9);
		padding: 2% 1%;
		border-bottom: 1px solid #0F5C72;
	}

	.navbar/*Ocultar menú*/{
		display: none;
		padding: 0;
		background: rgba(4, 132, 159, 1);
		min-width: 100%;
		text-align: left;
	}

	.navbar > li{
		display: block;
		margin: 0;
		padding: 2%;
		border-bottom: 1px solid #0F5C72; 
	}

	.navbar > li > a:link, .navbar > li > a:visited, .navbar > li > a:hover, .navbar > li > a:active{
		color: #FFF;
		text-decoration: none;
	}

	.button-nav-toggle /*Botón menú hamburguesa*/{
  		transition: transform .4s;
  		position: relative;
  		left: 90%;
   		min-width: 100%;
  		padding: 20px;
  	}
  
  	.button-nav-toggle span /*Botón menú hamburguesa*/{
    	background-color: #FFF;
    	height: 2px;
    	margin-top: -1px;
    	position: absolute;
    	top: 50%;
    	transition: .4s;
    	width: 20px;
    }
    
    .button-nav-toggle span:first-child /*Botón menú hamburguesa*/{ 
    	transform: translateY(-6px)
    }
    .button-nav-toggle span:last-child /*Botón menú hamburguesa*/{ 
    	transform: translateY(6px) 
   	}

 	.active/*Botón menú hamburguesa*/{
 		position: relative;
  		transition: transform .4s;
  		width: 48px;
  		padding: 20px;
  		flex-grow: 0;
  		margin-right: 3%;
  		margin-top: 0%;  	
 	}
    .active span:first-child/*Botón menú hamburguesa*/ { 
    	transform: rotate(45deg) translate(0) 
    }

    .active span:nth-child(2)/*Botón menú hamburguesa*/ { 
    	transform: scaleX(0) 
    }

    .active span:last-child/*Botón menú hamburguesa*/ { 
    	transform: rotate(-45deg) translate(0) 
    }
}


/*PANTALLAS INFERIORES A 910px*/@media screen and (max-width: 910px){
	/*FAQ*/
	.faq{
		display: block;
	}

	.content-faq{
		max-width: 90%;
		margin: 0 auto 5% auto;
	}

	.content-faq > div{
		padding: 0;
		padding-right: 30%;
	}

	.img-faq{
		display: block;
	}

	.img-faq > img{
		position: relative;
		left: 90%;
	}

	/*FOOTER*/
	footer {
		grid-template-areas: "headimg head"
							 "redes aseguradoras"
							 "phones autor";
		grid-template-columns: 50% 50%;
		grid-template-rows: 25% 25% 25% 25%;
		grid-column-gap: 2%;
		row-gap: 5ch;
		padding: 5% 5% 0 5%;
	}

	#contacto > img{
		grid-area: headimg;
		align-self: center;
		justify-self: end;
	}

	#horario{
		grid-area: head;
		justify-self: start;
		align-self: center;
	}

	#redes-foot{
		grid-area: redes;
		justify-self: start;
		align-self: center;
	}

	#aseguradoras{
		grid-area: aseguradoras;
		justify-self: end;
		align-self: center;
		text-align: right;
	}

	#phones{
		grid-area: phones;
		justify-self: start;
		align-self: center;
	}

	#author{
		grid-area: autor;
		justify-self: end;
		align-self: center;
	}
}


/*TABLET PORTRAIT*/@media screen and (max-width: 768px){
	/*QUIENES SOMOS*/
	.identidad, .weAre, .ubication{
		padding: 0;
		margin: 0;
		display: block;
		max-width: 100%;
		min-width: 100%;
	}

	.weAre > img, .ubication > img{
		padding: 10% 0 5% 0;
		margin: 0 auto;
	}

	.weAre > h1, .ubication > h1{
		padding: 0;
		margin: 2% auto;
		text-align: center;
	}

	.weAre > p, .ubication > p{
		padding: 0 10%;
		margin: 1% auto 7.5% auto;
		text-align: justify;
	}

	.container-imgs{
		padding-bottom: 10%;
		justify-content: center;
	}

	.ubication{
		padding-bottom: 10%
	}

	.map{
		display: block;
		max-width: 80vw;
		min-width: 80vw;
		max-height: 80vh;
		min-height: 80vh;		
		margin: 0 auto;
	}

	/*PRODUCTOS Y FAQ*/
	.productos > img, .title-faq > img /* Aumento tamaño de logo-productos y logo-faq*/{
		width: 12%;
		margin-top: 7.5%;
		margin-bottom: 5%;
	}

	.title-faq{
		margin: 0;
	}

	.productos > h1, .productos > div {
		max-width: 60%;
	}

	.content-faq{
		max-width: 80%;
		margin: 0 auto 5% auto;
		text-align: center;
	}

	.content-faq > div{
		padding: 0;

	}
	.img-faq > img{
		position: relative;
		left: 90%;
	}
	
	p.font-grey, ul.font-grey{
		text-align: left;
	}
}


/*SMALL TABLET PORTRAIT*/@media screen and (max-width: 720px){
	/*FOOTER*/
	#contacto > img{
		width: 60% ;
		max-width: 60% ;
		min-width: 60% ;
	}
}


/*PANTALLAS INFERIORES A 620px*/@media screen and (max-width: 620px){
	/*NAV*/
	.navbar > li{
		padding: 2.5% 2%;
	}

	/*HOME*/
	.home > p{
		display: block;
	}

	/*FOOTER*/
	#contacto > img{
		width: 70%;
		max-width: 70%;
		min-width: 70%;
	}
}


/*MOBILE LANDSCAPE*/@media screen and (max-width: 500px){
	/*NAV*/
	.button-nav-toggle {
  		left: 88%;
  	}

  	/*HOME*/
	#logo{
		max-width: 50%;
		min-width: 50%,
		width: 50%;
	}

	.container-imgs {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
	}

	.container-imgs > img{
		margin: 0 auto;
		width: 50%;
		max-width: 50%;
		min-width: 50%;
	}

	/*QUIENES SOMOS*/
	.map{
		height: 50%;
	}

	/*FOOTER*/

	#horario > p{
		margin-bottom: .3%;
	}
}


/*MOBILE PORTRAIT*/@media screen and (max-width: 450px){
	/*ESTILOS GENERALES*/
	h1, h2, h3, h4, h5, h6{
		font-size: 1em;
	}

	p, span, li{
		font-size: 0.8em;
	}

	.home > p:first-child{
		font-size: 0.9em;
	}

	/*NAV*/
	.button-nav-toggle {
  		left: 85%;
  	}

  	.navbar > li{
  		padding: 3% 2%;
  	}

  	/*HOME*/
  	.asociados > a > img{
		width: 80%;
		max-width: 80%;

	}

	/*QUIENES SOMOS*/
	.map{
		height: 60vh;
		max-height: 60vh;
		min-height: 60vh;
	}

	/*FOOTER*/
  	#contacto > img{
		width:80%;
		max-width: 80%;
		min-width: 80%;
	}
}


/*SMALL MOBILE*/@media screen and (max-width: 410px){
	/*NAV*/
	.navbar > li{
		padding: 3.5% 2%;
	}

	/*QUIENES SOMOS*/
	.weAre > img, .ubication > img, .productos > img, .title-faq > img /*logos identidad, prod y faq*/{
		width: 15%;
	}

	/*FOOTER*/
	footer{
		grid-template-areas:"headimg head"
							"redes redes"
							"aseguradoras aseguradoras"
							"phones phones "
							"autor autor ";
		grid-template-columns: 50% 50%;
		grid-column-gap: 2%;
		row-gap: 2.5ch;
	}

	#contacto > img{
		grid-area: headimg;
		width: 25%;
		justify-self: end;
	}
	#horario{
		grid-area: head;
		justify-self: start;

	}
	#redes-foot{
		grid-area: redes;
		align-self: center;
		justify-self: center;
		text-align: center;	
	}
	#aseguradoras{
		grid-area: aseguradoras;
		align-self: center;
		justify-self: center;
		text-align: center;
	}
	#phones{
		grid-area: phones;
		align-self: center;
		justify-self: center;
		text-align: center;
	}
	#author{
		grid-area: autor;
		align-self: center;
		justify-self: center;
		text-align: center;
	}

	#redes-foot > p, #aseguradoras > p, #phones > p{
		margin: .3% auto;
	}

	#author > p{
		margin-bottom: 25%;
	}
}


/*VERY SMALL MOBILE*/@media screen and (max-width: 350px){
	/*NAV*/
		.button-nav-toggle{
			left: 83%;
		}

		.navbar > li{
			padding: 4% 2%;
		}

	/*HOME*/
		.home > p:first-child{
			width: 60%;
		}

	/*FOOTER*/

	#horario > p:last-child{
		width: 65%;
	}
}